table {
  border-collapse: collapse;
}
table th {
  border: 1px solid #000000;
  text-align: left;
  padding: 10px 30px 10px 10px;
}
table td {
  border: 1px solid #000000;
  padding: 10px 0px 10px 10px;
}
